.login-container {
    max-width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745 !important;
    color: #fff;
    cursor: pointer;
  }
  

  
  .register-button {
    display: block;
    text-align: center;
    color: #28a745;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .register-button:hover {
    text-decoration: underline;
  }
  