.register-container {
    max-width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.register-container label {
    display: block;
    margin-bottom: 5px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="date"],
.register-container input[type="tel"],
.register-container textarea,
.register-container select {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-container select {
    appearance: none;
}

.register-button {
    background-color: #28a745 !important;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.login-link:hover {
    color: #333;
    text-decoration: underline;
}
